body {
	background: url(background.jpg);
	background-size: cover;
	font-family: 'Raleway', sans-serif;
	margin: 25px;
}

h1 {
	border-bottom: 3px solid rgba( 255, 255, 255, 0.85);
	border-right: 3px solid rgba( 255, 255, 255, 0.85);
	width: 175px;
	box-shadow: 3px 3px 3px #888888;
}

div {
	background-color: rgba( 255, 255, 255, 0.85);
	text-align: justify;
	color: black;
}

img {
	width: 250px;
	height: 250px;
	margin: 10px;
	transition: all 1s;
}

img:hover{
	transform: scale(1.1);
}

.Gallery2{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.Gallery1{
	background-color: rgba( 255, 255, 255, 0.85);
	text-align: center;
}